html, body { 
    width: 100%; 
    height: 100%;
    margin: 0; 
    padding: 0;
    background: #f05a30;
  }
  
  svg {
    position: absolute;
    width: 240px;
    height: 120px;
    top: 0; right: 0;
    bottom: 0; left: 0; 
    margin: auto;
  }
  
  svg #plug,
  svg #socket {
    fill:#FDB515;
  }
  
  svg #loop-normal {
    fill: none;
    stroke: #FDB515;
    stroke-width: 12;
  }
  
  svg #loop-offset {
    display: none;
  }
  
  .credit {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
  }
  
  .credit a {
    color: #FDB515;
    font: 800 75% "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  
  