@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1c0c31;
    overflow: hidden;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 26;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #75fd3a;
    top: 6%;
    left: 20%;
    animation-duration: 198s;
    animation-delay: -198s;
    transform-origin: 10vw 16vh;
    box-shadow: 4vmin 0 0.7701581993789195vmin currentColor;
}
.background span:nth-child(1) {
    color: #ff4d55;
    top: 71%;
    left: 69%;
    animation-duration: 67s;
    animation-delay: -102s;
    transform-origin: 19vw -7vh;
    box-shadow: 4vmin 0 1.2336631060917684vmin currentColor;
}
.background span:nth-child(2) {
    color: #75fd3a;
    top: 35%;
    left: 56%;
    animation-duration: 64s;
    animation-delay: -228s;
    transform-origin: 21vw -5vh;
    box-shadow: -4vmin 0 1.4276458336367683vmin currentColor;
}
.background span:nth-child(3) {
    color: #10d7e5;
    top: 63%;
    left: 62%;
    animation-duration: 91s;
    animation-delay: -183s;
    transform-origin: 25vw -8vh;
    box-shadow: -4vmin 0 0.6557678644371094vmin currentColor;
}
.background span:nth-child(4) {
    color: #10d7e5;
    top: 30%;
    left: 58%;
    animation-duration: 165s;
    animation-delay: -20s;
    transform-origin: -24vw -20vh;
    box-shadow: 4vmin 0 0.5653462433288159vmin currentColor;
}
.background span:nth-child(5) {
    color: #ff4d55;
    top: 85%;
    left: 87%;
    animation-duration: 217s;
    animation-delay: -41s;
    transform-origin: 23vw 24vh;
    box-shadow: -4vmin 0 0.6005116840101727vmin currentColor;
}
.background span:nth-child(6) {
    color: #fd81e6;
    top: 74%;
    left: 5%;
    animation-duration: 227s;
    animation-delay: -31s;
    transform-origin: 25vw -13vh;
    box-shadow: 4vmin 0 1.104962393605927vmin currentColor;
}
.background span:nth-child(7) {
    color: #ff4d55;
    top: 79%;
    left: 20%;
    animation-duration: 10s;
    animation-delay: -138s;
    transform-origin: 1vw -1vh;
    box-shadow: -4vmin 0 1.165571255657081vmin currentColor;
}
.background span:nth-child(8) {
    color: #75fd3a;
    top: 95%;
    left: 74%;
    animation-duration: 97s;
    animation-delay: -113s;
    transform-origin: 10vw -3vh;
    box-shadow: 4vmin 0 0.6065181312541243vmin currentColor;
}
.background span:nth-child(9) {
    color: #fd81e6;
    top: 1%;
    left: 93%;
    animation-duration: 58s;
    animation-delay: -130s;
    transform-origin: 22vw -14vh;
    box-shadow: -4vmin 0 0.7221819049699452vmin currentColor;
}
.background span:nth-child(10) {
    color: #fd81e6;
    top: 73%;
    left: 19%;
    animation-duration: 185s;
    animation-delay: -205s;
    transform-origin: -15vw 5vh;
    box-shadow: -4vmin 0 0.8896735631010588vmin currentColor;
}
.background span:nth-child(11) {
    color: #10d7e5;
    top: 47%;
    left: 16%;
    animation-duration: 166s;
    animation-delay: -137s;
    transform-origin: -22vw 6vh;
    box-shadow: -4vmin 0 1.2343428336331945vmin currentColor;
}
.background span:nth-child(12) {
    color: #fd81e6;
    top: 3%;
    left: 53%;
    animation-duration: 16s;
    animation-delay: -43s;
    transform-origin: -7vw 2vh;
    box-shadow: -4vmin 0 0.7398217770221578vmin currentColor;
}
.background span:nth-child(13) {
    color: #fd81e6;
    top: 74%;
    left: 20%;
    animation-duration: 48s;
    animation-delay: -65s;
    transform-origin: -21vw -2vh;
    box-shadow: -4vmin 0 0.8602706461034757vmin currentColor;
}
.background span:nth-child(14) {
    color: #ff4d55;
    top: 43%;
    left: 93%;
    animation-duration: 164s;
    animation-delay: -199s;
    transform-origin: 18vw 7vh;
    box-shadow: -4vmin 0 0.9557659878990516vmin currentColor;
}
.background span:nth-child(15) {
    color: #10d7e5;
    top: 69%;
    left: 38%;
    animation-duration: 84s;
    animation-delay: -37s;
    transform-origin: -13vw -9vh;
    box-shadow: 4vmin 0 0.5280598947837929vmin currentColor;
}
.background span:nth-child(16) {
    color: #ff4d55;
    top: 87%;
    left: 84%;
    animation-duration: 129s;
    animation-delay: -186s;
    transform-origin: 20vw -17vh;
    box-shadow: 4vmin 0 0.9031493271520108vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff4d55;
    top: 34%;
    left: 74%;
    animation-duration: 159s;
    animation-delay: -22s;
    transform-origin: 23vw 9vh;
    box-shadow: -4vmin 0 0.5482551244445368vmin currentColor;
}
.background span:nth-child(18) {
    color: #fd81e6;
    top: 36%;
    left: 95%;
    animation-duration: 208s;
    animation-delay: -56s;
    transform-origin: -23vw 1vh;
    box-shadow: -4vmin 0 0.9765853812293619vmin currentColor;
}
.background span:nth-child(19) {
    color: #fd81e6;
    top: 88%;
    left: 72%;
    animation-duration: 230s;
    animation-delay: -209s;
    transform-origin: -17vw 17vh;
    box-shadow: 4vmin 0 0.8310669253697904vmin currentColor;
}
.background span:nth-child(20) {
    color: #75fd3a;
    top: 83%;
    left: 91%;
    animation-duration: 74s;
    animation-delay: -79s;
    transform-origin: -23vw 20vh;
    box-shadow: -4vmin 0 1.0940521354052701vmin currentColor;
}
.background span:nth-child(21) {
    color: #fd81e6;
    top: 73%;
    left: 54%;
    animation-duration: 217s;
    animation-delay: -41s;
    transform-origin: 18vw -23vh;
    box-shadow: -4vmin 0 0.6163893646564993vmin currentColor;
}
.background span:nth-child(22) {
    color: #75fd3a;
    top: 66%;
    left: 93%;
    animation-duration: 226s;
    animation-delay: -223s;
    transform-origin: -19vw 4vh;
    box-shadow: -4vmin 0 1.0685641790576634vmin currentColor;
}
.background span:nth-child(23) {
    color: #fd81e6;
    top: 51%;
    left: 44%;
    animation-duration: 10s;
    animation-delay: -81s;
    transform-origin: -3vw 25vh;
    box-shadow: -4vmin 0 1.2360189183041714vmin currentColor;
}
.background span:nth-child(24) {
    color: #ff4d55;
    top: 38%;
    left: 19%;
    animation-duration: 198s;
    animation-delay: -8s;
    transform-origin: 10vw -17vh;
    box-shadow: -4vmin 0 1.010491977649903vmin currentColor;
}
.background span:nth-child(25) {
    color: #fd81e6;
    top: 30%;
    left: 72%;
    animation-duration: 60s;
    animation-delay: -134s;
    transform-origin: 0vw 23vh;
    box-shadow: -4vmin 0 1.0187404200323091vmin currentColor;
}
.background span:nth-child(26) {
    color: #75fd3a;
    top: 89%;
    left: 20%;
    animation-duration: 210s;
    animation-delay: -136s;
    transform-origin: 15vw -6vh;
    box-shadow: 4vmin 0 0.5012673835773913vmin currentColor;
}
.background span:nth-child(27) {
    color: #ff4d55;
    top: 12%;
    left: 21%;
    animation-duration: 32s;
    animation-delay: -35s;
    transform-origin: 9vw -24vh;
    box-shadow: 4vmin 0 1.0434112700453377vmin currentColor;
}
.background span:nth-child(28) {
    color: #75fd3a;
    top: 59%;
    left: 46%;
    animation-duration: 112s;
    animation-delay: -73s;
    transform-origin: 20vw 14vh;
    box-shadow: 4vmin 0 0.8843148082293324vmin currentColor;
}
.background span:nth-child(29) {
    color: #75fd3a;
    top: 71%;
    left: 55%;
    animation-duration: 225s;
    animation-delay: -56s;
    transform-origin: -24vw 17vh;
    box-shadow: 4vmin 0 0.8636856716538803vmin currentColor;
}
.background span:nth-child(30) {
    color: #fd81e6;
    top: 9%;
    left: 100%;
    animation-duration: 229s;
    animation-delay: -49s;
    transform-origin: -23vw 19vh;
    box-shadow: -4vmin 0 0.9959414796146047vmin currentColor;
}
.background span:nth-child(31) {
    color: #fd81e6;
    top: 45%;
    left: 92%;
    animation-duration: 61s;
    animation-delay: -176s;
    transform-origin: 4vw 22vh;
    box-shadow: -4vmin 0 1.3525353226653583vmin currentColor;
}
.background span:nth-child(32) {
    color: #75fd3a;
    top: 88%;
    left: 99%;
    animation-duration: 75s;
    animation-delay: -68s;
    transform-origin: -17vw 22vh;
    box-shadow: 4vmin 0 1.3910011264478723vmin currentColor;
}
.background span:nth-child(33) {
    color: #ff4d55;
    top: 86%;
    left: 8%;
    animation-duration: 207s;
    animation-delay: -14s;
    transform-origin: 15vw 7vh;
    box-shadow: -4vmin 0 1.438805890293671vmin currentColor;
}
.background span:nth-child(34) {
    color: #75fd3a;
    top: 56%;
    left: 88%;
    animation-duration: 155s;
    animation-delay: -50s;
    transform-origin: -14vw 6vh;
    box-shadow: -4vmin 0 1.4866553917590348vmin currentColor;
}
.background span:nth-child(35) {
    color: #75fd3a;
    top: 29%;
    left: 95%;
    animation-duration: 66s;
    animation-delay: -108s;
    transform-origin: -13vw 12vh;
    box-shadow: 4vmin 0 1.4001833675145776vmin currentColor;
}
.background span:nth-child(36) {
    color: #75fd3a;
    top: 58%;
    left: 16%;
    animation-duration: 225s;
    animation-delay: -142s;
    transform-origin: -9vw 2vh;
    box-shadow: -4vmin 0 1.3712773441493615vmin currentColor;
}
.background span:nth-child(37) {
    color: #fd81e6;
    top: 30%;
    left: 35%;
    animation-duration: 222s;
    animation-delay: -22s;
    transform-origin: -16vw 10vh;
    box-shadow: 4vmin 0 1.3180843954612722vmin currentColor;
}
.background span:nth-child(38) {
    color: #ff4d55;
    top: 36%;
    left: 54%;
    animation-duration: 151s;
    animation-delay: -127s;
    transform-origin: -6vw -8vh;
    box-shadow: -4vmin 0 0.5947201362590016vmin currentColor;
}
.background span:nth-child(39) {
    color: #10d7e5;
    top: 54%;
    left: 87%;
    animation-duration: 59s;
    animation-delay: -16s;
    transform-origin: 1vw -16vh;
    box-shadow: -4vmin 0 0.6992151264849094vmin currentColor;
}
.background span:nth-child(40) {
    color: #ff4d55;
    top: 27%;
    left: 28%;
    animation-duration: 12s;
    animation-delay: -84s;
    transform-origin: 17vw 3vh;
    box-shadow: 4vmin 0 0.8360419333686786vmin currentColor;
}
.background span:nth-child(41) {
    color: #ff4d55;
    top: 7%;
    left: 60%;
    animation-duration: 241s;
    animation-delay: -204s;
    transform-origin: -24vw -2vh;
    box-shadow: 4vmin 0 0.6182567372198111vmin currentColor;
}
.background span:nth-child(42) {
    color: #75fd3a;
    top: 70%;
    left: 7%;
    animation-duration: 47s;
    animation-delay: -214s;
    transform-origin: 15vw -7vh;
    box-shadow: 4vmin 0 1.1056850022542508vmin currentColor;
}
.background span:nth-child(43) {
    color: #75fd3a;
    top: 66%;
    left: 30%;
    animation-duration: 156s;
    animation-delay: -190s;
    transform-origin: 4vw -1vh;
    box-shadow: 4vmin 0 1.3055782505119347vmin currentColor;
}
.background span:nth-child(44) {
    color: #fd81e6;
    top: 92%;
    left: 12%;
    animation-duration: 203s;
    animation-delay: -19s;
    transform-origin: 11vw -8vh;
    box-shadow: 4vmin 0 1.3072202422120338vmin currentColor;
}
.background span:nth-child(45) {
    color: #ff4d55;
    top: 24%;
    left: 88%;
    animation-duration: 227s;
    animation-delay: -57s;
    transform-origin: 16vw -9vh;
    box-shadow: 4vmin 0 1.0065479415811887vmin currentColor;
}
