html, body{
    height:100%;
  }
  
  div.container{
    background-color:#46b8df;
    height: 100%;
    position:relative;
  }
  
  svg{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }