@import url("https://fonts.googleapis.com/css?family=Kanit:100,700");
body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.effect1 {
  position: absolute;
  margin: 0;
  top: 40%;
  font-size: 5.0em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 3;
  color: #050404;
}

.effect1 .letter {
  display: inline-block;
  line-height: 1em;
}

.text {
  position: absolute;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #C08794;
  font-weight: 100;
  top: 50%;
  z-index: 3;
  opacity: 0;
  top: 50%;
}
.text2 {
  position: absolute;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #C08794;
  font-weight: 100;
  top: 50%;
  z-index: 3;
  opacity: 0;
  top: 50%;
}
section {
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.item {
  
  height: 100vh;
  z-index: 0;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #050404;
  width: 100%;
  height: 40px;
  font-size: 1.8em;
  text-transform: uppercase;
  font-family:'Kanit', sans-serif;;
}
footer p {
  color: #FFFFFF;
  font-size: 0.8em;
  letter-spacing: 5px;
  padding: 5px;
}
footer a {
  color: #FFFFFF;
  font-size: 0.8em;
  text-decoration: none;
  transition: all 0.3s ease;
}
footer a:hover {
  background: #050404;
  transition: all 0.3s ease;
  color:  #A1D5F7;
}
/* ---------------------------------------------------------------------------------- */
/* *,
*:before,
*:after {
  box-sizing: border-box;
   font-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #222;
  font-family: Josefin Sans, Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
} */
