    .img1 {

    position: absolute;
    top: 5px;
    left: 70px;
    width: 7%;
    height: 7%; 
    z-index: 10;
    }

    p { 
        position: absolute;
        font-family: 'Calibri', serif;
        font-size: 20px;
        top:3%;
        left: 10%;
        color: #ffffff;
        
     }

    .recognize{

        position: fixed ;
        background-color: #eef1fa;
        width: 100%;
        height: 100%;
        z-index: 0;
        top: 8%;
        right:0.05%


    }

    input[type=submit] {
        border-color: #2196F3;

        color: dodgerblue;
        border: none;
        font-family: 'Calibri', serif;
        font-size: 20px;
        margin-top: 25px;
        width: 70%;
        padding: 6px;
        z-index: 100;
        border-radius: 5px;
        transition: all .5s ease;
        position: absolute;
        top: 64%;
        left: 15.5%;

    }

    input[type=submit]:hover {
        background-color: #446fd4;
        cursor: pointer;
        color: #f4f4f4;
      }


    .attend {
        position: absolute;
        top:35%;
        width: 18%;
        height: 30%;
        left: 28%;
        background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%);
        border-radius: 10px;
        float:left;
        z-index: 50;
        box-shadow: 5px 10px 32px #909090;
        

    }

    .img2{
        position: absolute;
        width: 150%;
        height: 150%;
        opacity: 0.80;
        right:30%;
    }

    .img3{

        position: absolute;
        width: 150%;
        height: 150%;
        opacity: 0.80;
        left:20%;
        top: 40%;

    }

    .stats{
        position: absolute;
        top: 35%;
        right:28%;
        width: 18%;
        height: 30%;
        background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
        border-radius: 10px;
        float: right;
        z-index: 50;
        box-shadow: 5px 10px 32px #909090;
    }

